@import '../../scss/common.scss';

.meter
{
    display: flex;
    padding: 50px 0px 0px 0px;
    position: absolute;
    left: 455px;
    top: 84px;
        
    font-family: $primary-font-family;
    &-item {
        align-self: center;
    }
    &-lable {
        text-align: center;
        color: $edugrep-deep-blue;
        
    }
    &-value {
        text-align: center;
        color: $edugrep-deep-blue;
        font-weight: bold;
         &-subt {

             font-size: small;
             bottom: 5px !important;
             padding: 0px 0px 0px 10px;

         }
    }
}