@import '../../scss/common.scss';

.hbForm {
    width: 100%;
    min-height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &_left {
        width:50%;
        align-self: center;

        &_img {
            width: 100%;
            
            height: auto;
        }

    }
    &_right {
       
       width: 45%;
       padding: 2rem 5rem;
       align-self: center;
       border-radius: 25px;
       box-shadow: 0px 0px 10px rgb(235, 234, 234);

    }
}

@media screen and (max-width:768px) {
    .hbForm {
        &_left {
            width: 100%;
        }
        &_right {
            margin-left: 42px;
            width: 100%;
            padding: 2rem 1rem;
        }
    }
    
}