/*-------------------------
Edugrep theme colors
-------------------------*/

$edugrep-blue: #3aa1c7;
$edugrep-white: #fff;
$edugrep-black: #000;
$login-button-color: #3ac7bd;
$register-form-border-color: #707070;
$edugrep-deep-blue: #283d58;
$edugrep-light:  #cdeaf488;
$gray-4: #9f9999;
$edugrep-navy: #2d3d58;  

/*-----------------------
Fonts
------------------------*/

$primary-font-family: 'Recursive';
